#site-footer {
	position: relative;
	z-index: 2;
	background-color: var(--background-sec-color);
	>.inner {
		max-width: var(--inner-max-width);
		width: var(--inner-width);
		margin: 0 auto;
		padding: 40px 0 30px;
		display: flex;
		justify-content: space-between;
		gap: 20px 60px;
		>* {
			width: 100%;
		}
	}
	.footer-info {
		overflow: hidden;
		>ul {
			>li {
				font-size: 13px;
				font-weight: 300;
				color: var(--font-color);
				display: flex;
				+li {
					margin-top: 4px;;
				}
				b {
					font-weight: 800;
					margin-right: 10px;
				}
			}
		}
	}
	.footer-copy {
		font-size: 12px;
		font-weight: 300;
		color: var(--font-sec-color);
		text-transform: uppercase;
		margin-top: 20px;
	}
	.footer-link {
		width: 200px;
		flex: none;
		.sns_link {
			>ul {
				display: flex;
				justify-content: flex-end;
				gap: 10px;
				>li {
					>a {
						display: block;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 768px){
	#site-footer {
		> .inner {
			flex-direction: column;
			gap: 20px;
		}

		.footer-link {
			width: 100%;
			.sns_link {
				>ul {
					justify-content: center;
					gap: 10px;
					>li {
						>a {
							width: 30px;
						}
					}
				}
			}
		}
	}
}