.sns-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sns-modal-backdrop {
  position: absolute;
  inset: 0;

  border: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.sns-modal-panel {
  position: relative;
  z-index: 1;

  width: min(100%, 460px);

  padding: 40px;

  background-color: var(--background-sec-color);
  backdrop-filter: blur(5px) brightness(1.1);
  box-shadow: 0 0 0 1px var(--border-color);

	overflow: hidden;

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.sns-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	line-height: 1;

	a {
		display: inline-flex;
		align-items: center;

		font-size: 1.3em;
		line-height: 1;
		color: var(--font-color);
		white-space: nowrap;

		&:hover {
			opacity: 0.7;
		}

		.icon {
			width: 40px;
			font-size: 1.35em;
			color: var(--primary-color);
		}

		.outlink {
			font-size: 1em;
			color: var(--primary-color);
			margin-left: 5px;
		}
	}

	p {
		font-size: 1em;
		padding-left: 40px;
		margin-top: 8px;
		color: var(--font-sec-color);
	}
}

[data-theme="dark"] {
	.sns-modal-panel {
		//background-color: rgba(25, 23, 20, .75);
	}
}

@media screen and (max-width: 767px){
  .sns-modal-panel {
  	padding: 40px 28px;
  }

  .sns-list {
  	a {
  		.icon {
	  		width: 32px;
	  	}
  	}
	  p {
	  	margin-top: 4px;
	  	padding-left: 32px;
	  }
  }
}