.hero {
  position: relative;

  height: calc(100vh - var(--header-height));
  min-height: 680px;

  overflow: hidden;

  color: #fff;

  &__image {
    position: absolute;
    inset: 0;

    background-image: url('/images/home/hero.jpg');
    background-position: center;
    background-size: cover;

    transform-origin: center center;
  }

  &__overlay {
    position: absolute;
    inset: 0;

    background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.85)
      );
  }

  &__content {
    position: relative;
    z-index: 2;

    height: 100%;
    padding: 20vh 0;

    display: flex;
    flex-direction: column;

    width: var(--inner-width); 
    max-width: var(--inner-max-width); 
    margin: 0 auto;
  }

  &__eyebrow {
    margin: 0 0 25px;

    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;

    letter-spacing: 0.25em;
  }

  &__title {
    margin: 0;

    font-size: clamp(30px, 7vw, 60px);
    font-weight: 600;

    line-height: 1.35;
    letter-spacing: -0.06em;
    white-space: pre-line;
  }

  &__location {
    margin: 30px 0 0;

    font-size: 16px;
    color: var(--secondary-color);
    letter-spacing: 0.2em;
  }

  &__scroll {
    position: absolute;
    z-index: 2;

    left: 0;
    bottom: 60px;

    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 10px;
    letter-spacing: 0.2em;

    i {
      display: block;

      width: 60px;
      height: 1px;

      background: currentColor;
    }
  }
}

@media (max-width: 767px) {
  .hero {
    min-height: 600px;

    &__scroll {
      bottom: 150px;
    }
  }
}