/* --------------------------------
   CATEGORY NAV
-------------------------------- */

.category-nav {
  position: sticky;
  top: 0;
  z-index: 100;

  margin-bottom: 80px;;

  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  background-color: transparent;

  backdrop-filter: blur(5px);

  transition: all .25s ease-in-out;
}


.category-nav__inner {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 1400px;
  height: 70px;

  margin: 0 auto;
  padding: 0 30px;

  gap: 45px;

  overflow-x: auto;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  button {
    position: relative;

    flex-shrink: 0;

    padding: 0;

    border: 0;

    background: transparent;

    color: rgba(255, 255, 255, .7);

    font-family: inherit;
    font-size: 12px;
    font-weight: 500;

    letter-spacing: 0.12em;

    cursor: pointer;

    transition:
      color 0.3s ease;

    &::after {
      content: '';

      position: absolute;
      left: 0;
      bottom: -10px;

      width: 0;
      height: 1px;

      background: var(--primary-color);

      transition: width 0.3s ease;
    }

    &:hover {
      color: var(--primary-color);
    }

    &.active {
      color: var(--primary-color);
    }

    &.active::after {
      width: 100%;
    }
  }
}


html.scrollUp .category-nav {
  top: var(--header-height);
}


@media screen and (max-width: 768px){
  .category-nav {
    margin-bottom: 40px;
  }

  .category-nav__inner {
    justify-content: flex-start;

    height: 60px;

    padding: 0 20px;

    gap: 28px;
  }
}