#site-header {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	transition: all 0.25s ease-in-out;
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		//background-color: rgba(17, 16, 15, .8);
		backdrop-filter: blur(5px);
	}
	> .inner {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		width: var(--inner-width);
		max-width: var(--inner-max-width);
		height: var(--header-height);
		margin: 0 auto;
		> * {
			display: flex;
			align-items: center;
		}
	}
	.logo {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		> a {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 28px;
			font-weight: 700;
			color: var(--primary-color);
			white-space: nowrap;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			transition: all 0.25s;
		}
	}
	.gnb-btn > a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		color: #fff;
	}


	.gnb {
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    display: flex;
	    align-items: center;
	    border-radius: 30px;
	    background-color: #222;
		> ul {
			display: flex;
			position: relative;
    		z-index: 3;
			padding: 6px;
			> li {
				display: flex;
				align-items: center;
				height: 100%;
				> a {
					display: inline-flex;
				    justify-content: center;
				    align-items: center;
				    padding: 5px 17px;
				    color: #fff;
				    font-size: 16px;
				    font-weight: 500;
				    line-height: 1.5;
				    letter-spacing: -.32px;
				    border-radius: 30px;
				    transition: all .4s ease-in-out;
				}
				&.active > a {
					color: #000;
				}
			}
		}

		.move-bg {
			position: absolute;
		    top: 50%;
		    left: 0;
		    height: 34px;
		    border-radius: 999px;
		    background: #eee;
		    z-index: 0;
		}
	}
}

html.scrollDown #site-header {
  transform: translateY(-100%);
}

html.scrollUp #site-header {
  transform: translateY(0);
}

@media screen and (max-width: 768px){
	#site-header {
		> .inner {
			> * {
				width: auto;
			}
		}
		.logo {
			> a {
				font-size: 20px;
			}
		}

		.gnb-btn > a {
			width: 30px;
			height: 30px;
		}
	}
}